<div id="pdf-viewer" class="" style="height: 100%; padding: 0; ">
  <iframe
    id="pdf-iframe"
    src="/static/temp.pdf"
    width="100%"

    style="border: none;    height:100%;">
  </iframe>
</div>






<script>
  document.addEventListener('DOMContentLoaded', function() {
    const viewer = document.getElementById('pdf-iframe');
    viewer.onload = function() {
      // PDF loaded
      console.log('PDF loaded successfully');
    };
  });
</script>





<!-- <div id="adobe-dc-view"></div>
<script src="https://acrobatservices.adobe.com/view-sdk/viewer.js"></script>
<script type="text/javascript">
  document.addEventListener("adobe_dc_view_sdk.ready", function () {
    var adobeDCView = new AdobeDC.View({
      clientId: "b26bb41c86c246e7a53eddbf54e0c634",
      divId: "adobe-dc-view",
    });
    adobeDCView.previewFile(
      {
        content: {
          location: {
            url: "/static/temp.pdf",
          },
        },
        metaData: { fileName: "Summary.pdf" },
      },
      {}
    );
  });
</script> -->
